<h2>My Tasks</h2>

<task-form (taskCreated)="getTasks()"></task-form>

@if (tasks.length > 0) {
<ul>
  @for (task of tasks; track task.id) {
  <li>
    <input
      type="checkbox"
      [checked]="task.complete"
      (change)="toggleComplete(task)"
    />
    @if (editingTaskId === task.id) {
    <input [(ngModel)]="editedTitle" name="editTitle" />
    <button (click)="saveEdit(task)">💾</button>
    <button (click)="cancelEdit()">❌</button>
    } @else {
    {{ task.title }}
    <button (click)="startEditing(task)">✏️</button>
    <button (click)="deleteTask(task.id)">🗑</button>
    }
  </li>
  }
</ul>
} @else {
<p>Sem tarefas ainda. Adicione uma!</p>
}
